html {
  scroll-behavior: smooth;
  
}

body {
  background-color: #262626;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}


/* NavBAR CSS */
.logo {
  float: left;
  height: 60px;

  margin: 10px;
  position: absolute;

}

.topnav {
  overflow: hidden;
  max-width: 100%;
  padding: 10px;
  z-index: 5;
  margin-bottom: 50px;
  border-bottom: 3px solid slateblue;
  background-color: #262626;
  

}

.topnav a {
  float: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: transform .2s;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px 10px;
}

.topnav a.active {

  color: #e22f7a ;
  border-radius: 10px;
  
}

.topnav a:hover {
  color: aqua;
  border-radius: 10px;
  transform: scale(1.2) ;
}



.topnav .icon {
  display: none;
}



/* Home Countainer CSS */

.home-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  z-index: -1;
}



.homeImage {

  opacity: 0.8;
  
  /* margin-right:100px; */
  max-height: 400px;

}


.flex-item {
  
  margin: 5%;
  
}

.homeText {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20pt;
  text-overflow: initial;
  position: relative;
}



.homeHeader {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40pt;
  font-weight: bold;
  line-height: 0;
  text-overflow: initial;
  position: relative;
}

.button-hire {
  display: block;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  max-width: 100px;
  background-color: slateblue;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  margin: 50px 0px;
  transition: transform .2s;
  border-radius: 30px;
}

.button-hire:hover{
  transform: scale(1.1);
}



/* About Countainer CSS */

.about-container {
  display: flex;
  flex-direction: row;
  z-index: 3;
  justify-content: center;
}

.aboutImage {

  max-height: 600px;
  margin:10%;
  transition: transform .2s;
  box-shadow: 10px 10px 5px slateblue;
  z-index: 3;
  /* border: 10px solid slateblue;
  border-radius: 5%; */
  
}

.aboutImage:hover{
  transform: scale(1.1);
}

.aboutText {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20pt;
  text-align: justify;
}

.about-flex-item {
  flex: 50%;
  margin : 5%;
  
}



.sectionHeaderHalf{
  color:white;
  border-bottom: 10px solid slateblue;
  border-bottom-radius: 50px ;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25pt;
  font-weight: bold;
  line-height: 0;
  text-overflow: initial;
  position: relative;
  
}

.bottomHR{
  border: 5px solid;
  
}

.sectionHeader{
  text-align: center;
  color:white;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25pt;
  font-weight: bold;
  line-height: 0;
}


  .flex-item-service{
    flex:40%;
    background-color:#2e2e2e;
    margin:3%;
    padding: 10px;
    min-height: 300px;
    box-shadow: 0 1.6rem 2.4rem rgba(0,0,0,.25);
    border-radius : 20px;
    text-align: center;
    transition: transform .2s;
  }

  .flex-item-service:hover{
    transform: scale(1.1);
  }

 .service-img{
    height: 100px;
    width: 100px;
    margin: 10%;
    
 }

 .service-header{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  
  margin: 5%;
 }

 .service-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    
    margin: 5%;
 }



 .flex-item-portfolio{
  flex:30%;
  margin: 20px;
    
  
  text-align: center;
  transition: transform .2s;
}

.flex-item-portfolio:hover{
  transform: scale(1.1);
}

.portfolio-img{
  max-height: 400px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 1.6rem 2.4rem rgba(0,0,0,.25);
    
}

.contact-text {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15pt;
  text-align: center;
  justify-items: center;
}


input[type=text], input[type=email], input[type=number], textarea {
  min-width: 500px;
  padding: 20px;
  margin:5%;
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: block;
  border: 2px solid slateblue;
  border-radius: 20px;
  resize: vertical;
  background-color: inherit;
  resize: none;
  -moz-appearance: textfield;
}


.img-icon{
   max-height: 75px;
   display: block;
   margin:10%;
}

.contact-info-item{
  display: flex;
  padding: 2%;
  flex-direction: row;
}

.info-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20pt;
  cursor: pointer;
  display: block;
  margin:8%;
}


.footer-container{
  display: flex;
  min-height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: 0 1.6rem 2.4rem rgba(31, 31, 31, 0.25);
}






















@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;


  }

  .about-container{
    flex-wrap: wrap;
  }


  .about-flex-item{
    margin: 5%;
    
  }
  .aboutImage {
    margin:0%;
  }

  .homeImage {
    max-height: 300px;
    margin: 80px;

  }

  .homeText {
    font-size: 15pt;
    margin-top: 0px;
  }

  .homeHeader {
    font-size: 30pt;
  }


  
  .sectionHeader{
    max-width: 50%;
    font-size: 18pt;
  }

  .flex-item-service{
    
    min-width: 50%;
    margin:5%;
  }

  .portfolio-img{
    min-width: 90%;  
  }

  .service-text{
    font-size: 12pt;   
 }
 .service-header{
   font-size: 15pt;
 }
  

}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
    
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;

    display: block;
   

  }


  .aboutText {

    text-align: none;
    font-size: 15pt;
  }



  input[type=text], input[type=email], input[type=number], textarea {
    min-width: 90%;
    
  }

  .img-icon{
    max-height: 60px;
  }

  .info-text{
    font-size: 15pt;   
  }

  .footer-container{
    flex-direction: column;
    float: none;
  }
  
  
}